# TheCJourney DBTow .gitignore

# Ignore all files (*)
# Attempting to make sure no unwanted files or executables appear in the online repository
*

# Whitelisted file types
!*.c
!*.h
!*.md
!.gitignore

# Allow directories
!*/
